
<div class="flex flex-col text-dark-charcoal gap-2 justify-center lg:flex-row lg:items-center lg:gap-5 py-6 pb-5 lg:py-0">
  <span class="text-sm font-fredasansstd tracking-normal font-bold text-center">Síguenos en</span>
  <ul class="flex flex-row flex-wrap lg:gap-5 items-center">
    {%- if settings.social_facebook_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1">
        <a href="{{ settings.social_facebook_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank"> 
          {{ 'general.social.links.facebook' | t }} 
        </a> 
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_instagram_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.instagram' | t }}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_youtube_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.youtube' | t }}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_tiktok_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.tiktok' | t }}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_twitter_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_twitter_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.twitter' | t }}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_pinterest_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.pinterest' | t }}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_snapchat_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.snapchat' | t }}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_tumblr_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.tumblr' | t }}
        </a>
      </li>
    {%- endif -%} 
    {%- if settings.social_vimeo_link != blank -%}
      <li class="w-1/3 lg:w-fit text-center p-1" >
        <a href="{{ settings.social_vimeo_link }}" class="font-fredasansstd tracking-normal text-xs font-book" target="_blank">
          {{ 'general.social.links.vimeo' | t }}
        </a>
      </li>
    {%- endif -%}
  </ul>

</div>
